<%= form_with(model: wxinfo, local: true) do |form| %>
  <% if wxinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wxinfo.errors.count, "error") %> prohibited this wxinfo from being saved:</h2>

      <ul>
      <% wxinfo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :appid %>
    <%= form.text_field :appid, id: :wxinfo_appid %>
  </div>

  <div class="field">
    <%= form.label :appsecret %>
    <%= form.text_field :appsecret, id: :wxinfo_appsecret %>
  </div>

  <div class="field">
    <%= form.label :secret_key %>
    <%= form.text_field :secret_key, id: :wxinfo_secret_key %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token, id: :wxinfo_token %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
